<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scheduler - Allocate</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.2/themes.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  <script src="https://cdn.tiny.cloud/1/id8x4mia1r35mu6mra8h2oicixho6c1qrngflpc3lqwzwh59/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
  <h2>Edit Presenter Information System</h2>
  <br/>
  <textarea id="mytextarea" data-latest="{{ latest_pis['payload']['content'] }}">{{ latest_pis['payload']['content'] }}</textarea>
  <br/>
  <div class="submit-cont flex justify-end gap-2">
    <div class="btn btn-primary" id="save-pis-button">
      <span class="text">Save</span>
      <span class="loading loading-dots loading-sm !hidden"></span>
    </div>
    <!-- <div class="btn btn-secondary">Undo All Changes</div> -->
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      tinymce.init({
        selector: '#mytextarea',
        plugins: "anchor autolink charmap code emoticons image link lists media preview searchreplace table visualblocks wordcount",
        media_alt_source: false,
        menubar: false,
        toolbar: "undo redo | styleselect | bold italic underline | removeformat | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media charmap | visualblocks code preview",
        element_format : "html",
        invalid_elements: "script",
        invalid_styles: "color, font-size, background",
        keep_styles: false,
        relative_urls: false,
        remove_script_host: false,
        paste_auto_cleanup_on_paste : true,
        paste_remove_styles: true,
        paste_remove_styles_if_webkit: true,
        paste_strip_class_attributes: true
      });

      const saveButton = document.querySelector('#save-pis-button');
      const undoButton = document.querySelector('.btn-secondary');

      saveButton.addEventListener('click', function() {
        saveButton.querySelector('.loading').classList.remove('!hidden');
        saveButton.querySelector('.text').classList.add('!hidden');
        const content = tinymce.get('mytextarea').getContent();
        fetch('/api/save_pis', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ content: content })
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          saveButton.querySelector('.loading').classList.add('!hidden');
          saveButton.querySelector('.text').classList.remove('!hidden');
          if (data['status'] == "OK") {
            alert('Changes saved successfully!');
          } else {
            alert('Error saving changes.');
          }
        });
      });

      undoButton.addEventListener('click', function() {
        tinymce.get('mytextarea').setContent(document.querySelector('#mytextarea').dataset.latest);
      });
    });
  </script>
</body>
</html>