<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scheduler?</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.2/themes.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>

<body class="p-4">
    <h1 id="show-title"></h1>
    <div class="form-control flex flex-col">
        <label class="label">
            <span class="label-text">Reason for rejection</span>
        </label>
        <textarea id="reason" class="textarea textarea-bordered h-24" placeholder="Type here..."></textarea>
    </div>
	<label class="label">
		<span class="label-text">Reason autofill</span>
	</label>
	<div class="stock-responses flex flex-row gap-2 flex-wrap">
		<div class="reason-autofill btn btn-outline btn-info btn-sm rounded-xl">Duplicate application</div>
		<div class="reason-autofill-clear btn btn-outline btn-error btn-sm rounded-xl">Clear</div>
	</div>
	<div class="form-control mt-6">
		<label class="cursor-pointer label">
			<span class="label-text">Notify user</span> 
			<input type="checkbox" id="notify_user" class="toggle toggle-primary" checked />
		</label>	 	
    <div class="form-control mt-6 flex justify-end">
        <button id="confirm-reject" class="btn btn-primary">Reject</button>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // get seasonName from url
        const urlParams = new URLSearchParams(window.location.search);
        const showName = urlParams.get('showName');
        document.querySelector("#show-title").innerText = `Rejecting season of ${showName}`;
		const rejectSeason = (e) => {
			const reason = document.querySelector("#reason").value;
			const seasonId = urlParams.get('seasonId');
			const notifyUser = document.querySelector("#notify_user").checked;
			fetch(`/api/reject/${seasonId}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ 
					reason: reason,
					notify_user: notifyUser
				})
			})
			.then(response => response.json())
			.then(data => {
				const { status, payload } = data;
				if (status === "OK") {
					alert('Successfully rejected season: ' + String(payload));
				} else {
					alert("Failed to reject: " + String(payload));
				}
			})
			.catch(error => console.error('Error:', error));
		}

		document.querySelector("#confirm-reject").addEventListener("click", rejectSeason);

		// Autofill reason buttons
		document.querySelectorAll(".reason-autofill").forEach((button) => {
			console.log(button);
			button.addEventListener("click", (e) => {
			document.querySelector("#reason").value = e.target.innerText;
			});
		});

		document.querySelector(".reason-autofill-clear").addEventListener("click", (e) => {
			if(confirm("Are you sure you want to clear the reason?")) {
				document.querySelector("#reason").value = "";
			}
		});

		document.querySelector("#reason").value = ""

    });
</script>
</html>